@model IEnumerable<WebApplicationTI.Models.Depto>

@{
    ViewBag.Title = "Depto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <p>
                @Html.ActionLink("Agregar", "Create", "", new { @class = "btn btn-success" })
            </p>
            <table class="table table-secondary  table-hover border-primary">
                <thead class="table-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Departamento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.JefeDelDpto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Observaciones)
                        </th>
                        <th class="text-center">Operaciones</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JefeDelDpto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observaciones)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdDepto }, new { @class = "btn btn-outline-primary" })
                            @Html.ActionLink("Detalle", "Details", new { id = item.IdDepto }, new { @class = "btn btn-outline-info" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdDepto }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </main>
</div>