@model WebApplicationTI.Models.EquipoComputo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <br />
    <h4>Eliminar equipo de computo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>
        <dt>
            Tipo de equipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDeEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            No. Serie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoSerie)
        </dd>

        <dt>
            Disco duro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapidadDiscoDuro)
        </dd>

        <dt>
            Memoria RAM
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoriaRAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-primary" })
    </div>
    }
</div>
